.skill-block {
  color: #ffffffe6;
  width: 300px;
  height: 40px;
  margin: 5px;
  font-weight: bold;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 0px 15px -8px #637381;
}

.skill-block .icon {
  font-size: larger;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 2px;
}

@media (max-width: 768px) {
  .skill-block {
    width: 300px;
  }
}
