.my-story-container {
  height: 100vh;
  margin-top: 2%;
  font-family: "Nunito", sans-serif;
}

.my-story-container p {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 400;
}

.my-story-container .story {
  /* float: left; */
  /* width: 50%; */
  padding-left: 2%;
}

.my-story-container .interests {
  padding-left: 1%;
  /* float: right; */
  /* width: 50%; */
  height: fit-content;
}
.my-story-container .interests ul li {
  padding: 1%;
  display: inline-block;
}

.my-story-container .interests span {
  font-size: 25px;
  font-weight: bold;
}

.my-story-container .interest-block {
  color: #ffffffe6;
  width: 100px;
  height: 80px;
  margin: 5px;
  background-color: var(--color-primary);
  /* display: flex;
  justify-content: space-around;
  flex-direction: column; */
  border-radius: 5px;
  box-shadow: 0px 0px 15px -8px #637381;
}
.my-story-container .interest-block span {
  font-size: 16px;
  /* paddingLeft: "30%", paddingTop: "20%" */
  padding-left: 30%;
  padding-top: 20%;
}
@media (max-width: 768px) {
  .interests {
    float: none;
    padding-left: 5%;
  }
  .story {
    width: 100%;
    padding: 5%;
  }
}
